.user-png{
    width: 30px;
    height: 30px;
}
.navbar{
    margin-top:2vw;
    background-color: rgb(235, 218, 235);
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 2ch;
    padding:13;
    transition: scale 0.2s ease;
   
    box-shadow: 0 1px 8px 0 rgba(55, 2, 55, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    

    
}
.navbar:hover{
    scale: 107%;
    box-shadow: 0 4px 8px 0 rgba(55, 2, 55, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.navbar-brand{
    color:rgb(190, 104, 243)
}
.nav-item {
   
    font-weight: 500;
    font-size:medium;
    border-radius: 1vw;
    padding: 0.2vw;  
    transition: background-color 0.3s ease; 
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.6); 
    cursor: pointer;
}
